---
title: Single Entry
layout: base.njk
---
<main>
    <h1>{{ title }}</h1>

    <div class="cards">

        {% for data in dialogData -%}
            <div class="card card-{{loop.index}}" data-card="{{loop.index}}">
                <div class="card-content">

                    <img class="card-image" width="400" src="https://picsum.photos/600/300?{{loop.index}}" alt="">
                    <div class="card-lower">
                        <p>{{data.dialog}}</p>
                        <button data-open="{{loop.index}}" class="showModal">Open Detail</button>
                    </div>
                </div>
            </div>
            <dialog id="dialogID-{{loop.index}}">
                <button class="prev">Prev</button>
                <button class="next">Next</button>

                <div class="card card-{{loop.index}}" data-card="{{loop.index}}">
                    <div class="card-content">

                        <img src="https://picsum.photos/600/300?{{loop.index}}" alt="">
                        <div class="card-lower">

                            <p>{{data.dialog}}</p>

                        </div>
                    </div>
                </div>

            </dialog>
        {% endfor %}
    </div>

    <div class="content-page-lower">

        {% for i in range (1, 6) -%}
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit culpa veritatis laborum, vel provident facilis rem error eos repellendus ipsam suscipit cum dolor in quas.</p>
        {% endfor %}
    </div>

</main>